@import 'bootstrap-sprockets';
@import 'bootstrap';

/* mixins, variables, etc.*/

$light-gray-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal rules */

html {
  font-size: 16px;
}
body {
  font-size: inherit;
  padding-top: 3.75rem;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 0.63em;
  }
}



/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.06em;
  margin-bottom: 1.88em;
  text-align: center;
  color: #777;
}

h2 {
  font-size: 1.2rem;
  letter-spacing: -0.03em;
  margin-bottom: 1.88em;
  text-align: center;
  color: $gray-light;
}

p {
  font-size: 1.2rem;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 0.63em;
  font-size: 1.7rem;
  color: rgb(172, 162, 162);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding-top: 0.56em;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    color: white;
  }
}


/* footer */

footer {
  margin-top: 2.81em;
  padding-top: 0.31em;
  border-top: 0.06em solid $light-gray-light;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 0.94em;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4rem;
      text-align: left;
      letter-spacing: -1;
      margin-bottom: 3px;
      margin-top: 0;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 0.98em;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    margin: 0 0 1.98em 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
 
@media (max-width: 800px) {
  footer {

    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }

    ul {
      float: none;
      padding: 0;

      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}
